<launch>

<!-- Initial Paramteres -->
	<arg name="robot1" default="Soybot_2"/>
	<arg name="vel_lin" default="0.2"/>
	<arg name="k_line" default="0.2"/>
	<arg name="k_theta" default="0.2"/>
	
<!-- Teleoperete node -->
	<node name="robot_control" 
    	  pkg="soybot_simulator" 
		  type="robot_control_v1.py"
		  args="$(arg robot1) $(arg vel_lin) $(arg k_line) $(arg k_theta)"
		  output="screen">
	
	<remap from="cmd_vel" to="/soybot/cmd_vel"/>
	<remap from="is_on_crop" to="/soybot/is_on_crop"/>
	<remap from="center_image_raw" to="/soybot/camera/center/image_raw"/>
	<remap from="left_image_raw" to="/soybot/camera/left/image_raw"/>
	<remap from="right_image_raw" to="/soybot/camera/right/image_raw"/>
	<remap from="rear_image_raw" to="/soybot/camera/rear/image_raw"/>

	</node>
	
</launch>
