<launch>

   
    <include 
    	file="$(find gazebo_ros)/launch/empty_world.launch">
	
	<arg 
		name="world_name" 
		value="$(find agricultural_rl)/worlds/agricultural_rl_low_2.world"/>
    
    </include>

    
    <arg 
    	name="model" 
    	default="$(find soybot_model)/urdf/soybot.urdf"/>
	<param 
		name="robot_description" 
		command="$(find xacro)/xacro $(arg model)" />
	<node 
		name="spawn_model" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		args="-param robot_description -urdf -x -10 -y -4 -z 1 -model soybot" />
		
</launch>

